<div style="display: flex; justify-content: center; align-items: center;">

  <%= form_tag '/uploading_book', :multipart => true do%>

      <p>Book name : <%= text_field_tag 'display_name' %> </p>

      <p>Book : <%= file_field_tag :actual_book %></p>

      <%= submit_tag "Upload" %>
  <%end%>

</div>